*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #f6f8f9;
}
/* header with logo */
header{
    height: 70px;
    padding: 10px 20px;
    margin-bottom: 30px;
    background-color: white;
}

header > img{
    vertical-align: middle;
}

h1{
    display: inline-block;
    
}
/* NEEDS FIXING */
/* end of header */

main{
    background-color: white;
    width: 70%;
    margin: auto;
    padding: 20px 50px;
    border-radius: 3px;
}

/* button style */
menu{
    list-style-type: none;
    border-bottom: #f6f8f9 solid 1px;
    padding: 15px 0px;
}

menu > li{
    display: inline-block;
}

button{
    border: none;
    padding: 5px;
    border-radius: 5px;
}

button#task{
    background-color: #47adf1;
    color: white;
}

button#task:hover{
    background-color: #2e7fb6;
}

button#section{
    background-color: white;
    border: lightgray 1px solid;
    color: lightgray;
}

button#section:hover{
    background-color: lightgray;
    color: white;
}
/* end button style */

h2{
    margin-bottom: 10px;
}

ul{
    list-style: none;
    padding: 0px;
    line-height: 2;
}

ul li.done:before{
    content: "\2713";
    color: #6dc4af;
    border: #6dc4af 2px solid;
    border-radius: 50%;
    padding: 3px;
    font-weight: bold;
    margin-right: 1em;
}

ul li.to-do:before{
    content: "\2717";
    color: red;
    border: red 2px solid;
    border-radius: 50%;
    padding: 3px;
    font-weight: bold;
    margin-right: 1em;
}